a {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header{
    border-bottom: 1px solid #6C6E7B;
}

.news {
  margin: 0;
  padding: 0;

  h1 {
    font-size: 64px;
    font-weight: 600;
    line-height: 1.4em;
  }

  h2 {
    font-size: 32px;
  }

  .pagination__list {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }
}

.pagination {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 60px;
  margin-bottom: 80px;
}

.pagination__item {
   .pagination__link {
    display: flex;
    width: 56px;
    height: 56px;
    border-radius: 30px;
    background-color: white;
    color: #841844;
    border: 2px solid #841844;
  }
}
.pagination__item {
  .pagination__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    border-radius: 30px;
    border-color: none;
    background-color: white;
    color: #841844;
    border: 2px solid #841844;
    font-family: 'Open Sans', sans-serif;
  }
  &:not(:first-child) {
    margin-left: 18px;
  }
  &:last-child .pagination__link {
    position: relative;
    width: 106px;
    &::before {
      position: absolute;
      content: '';
      width: 15px;
      height: 2px;
      background-color: #841844;
      right: 46px;
      top: 50%;
      border-radius: 2px;
    }
    &::after {
      content:'';
      width: 10px;
      height: 10px;
      border-right: 2px solid #841844;
      border-top: 2px solid #841844;
      right: 46px;
      position: absolute;
      top: 52%;
      transform: translateY(-50%) rotate(45deg);
      border-radius: 2px;
      z-index: 100;
    }
  }
}

.pagination__item--current {
  .pagination__link {
    border: 2px solid #841844;
    color: #ffffff;
    background-color: #841844;
  }
}

.page-footer {
  width: 1520px;
  font-size: 20px;
  border-top: 1px solid #6C6E7B;
  .page-footer__content {
    margin-top: 60px;
    margin-bottom: 30px;
  }
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
  margin-top: 60px;
  margin-bottom: 40px;
  a {
  color: black;
  font-size: 16px;
  }
  .breadcrumbs__item--current {
    color: #BBBBBB;
  }
}

.news-wrapper {
  width: 1520px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 120px;
}
.news__item {
  padding-right: 10px;
}
.news__container {
  display: flex;
  margin: 0;
  padding: 0;
  width: 1520px;
  min-height: 570px;
}  
.news__announce {
  font-size: 32px;
  margin-bottom: 30px;
  grid-column: 1 / 2;
  color: #841844;
}

.news__text {
  font-size: 20px;
  margin-bottom: 30px;
}
.news__image {
  min-height: 570px;
  margin-top: 80px;
}
.news__date {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 118px;
  height: 34px;
  background-color: #ECF2F5;
  border-radius: 20px;
  margin-bottom: 30px;
  color: #6C6E7B;
}
.news__link--block {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 283px;
  height: 50px;
  border: 2px solid #9B407A;
  border-radius: 50px;
  background-color: #FFFFFF;
  color: #841844;
  font-size: 16px;
  text-transform: uppercase;
  .news__link--text {
    padding-left: 40px;
  }
}
.news__link--arrow-back {
  &::before {
    position: absolute;
    content: '';
    width: 25px;
    height: 2px;
    background-color: #841844;
    left: 40px;
    top: 50%;
    border-radius: 2px;
  }
  &::after {
    content:'';
    width: 10px;
    height: 10px;
    border-left: 2px solid #841844;
    border-bottom: 2px solid #841844;
    left: 40px;
    position: absolute;
    top: 52%;
    transform: translateY(-50%) rotate(45deg);
    border-radius: 2px;
  }
}

.banner-news__wrapper {
  margin-left: 180px;
}

.banner-news {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 646px;
  background-image: url(../../task/images/bg-test.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
  font-size: 32px;
  font-weight: 400;
  line-height: 1.6em;
}

.news-thumbnails {
  width: 1520px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.news-thumbnails__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 30px;
  min-height: 332px;
}

.news-thumbnails__item:nth-child(2n+1) {
  grid-column: 1 / 2;
}

.news-thumbnails__item--current .news-thumbnails__title {
  color: #841844;
}

.news-thumbnails__link {
  display: flex;
  flex-direction: column;
  width: 210px;
  height: 50px;
  text-transform: uppercase;
}

.news-thumbnails__link--block {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 210px;
  height: 50px;
  border: 2px solid #9B407A;
  border-radius: 50px;
  background-color: #FFFFFF;
  color: #841844;
  .news-thumbnails__link--text {
    padding-right: 40px;
  }
}

.news-thumbnails__link--arrow {
  &::before {
    position: absolute;
    content: '';
    width: 25px;
    height: 2px;
    background-color: #841844;
    right: 40px;
    top: 50%;
    border-radius: 2px;
  }
  &::after {
    content:'';
    width: 10px;
    height: 10px;
    border-right: 2px solid #841844;
    border-top: 2px solid #841844;
    right: 40px;
    position: absolute;
    top: 52%;
    transform: translateY(-50%) rotate(45deg);
    border-radius: 2px;
  }
}

.news-thumbnails__item--current .news-thumbnails__link--block {
  background-color: #841844;
  color: #FFFFFF;
  .news-thumbnails__link--arrow {
    &::before {
      background-color: #ffffff;
    }
    &::after {
      border-right: 2px solid #ffffff;
      border-top: 2px solid #ffffff;
    }
  }
}

.news-thumbnails__date {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 118px;
  height: 34px;
  background-color: #ECF2F5;
  border-radius: 20px;
  margin-bottom: 30px;
  color: #6C6E7B;
}

.news-thumbnails__announce {
  font-size: 20px;
  margin-bottom: 30px;
}

.news-thumbnails__list {
  display: grid;
  grid-template-columns:repeat(2, 740px);
  gap: 40px;
  margin: 0;
  padding: 0;
}

.news-thumbnails__container {
  width: 720px;
}

.news__title {
  font-size: 64px;
  font-weight: 600;
  line-height: 1.4em;
  margin-bottom: 30px;
}
